header {
    position: fixed;
    top: 0;
    z-index: 10;

    height: var(--layout-header-height);
    background-color: var(--color-layout-header);
    box-shadow: var(--color-shadow-s);

    #headerContainer {
        display: flex;
        flex-direction: row;
        grid-template-columns: auto auto 1fr auto;
        gap: 0 24px;
        height: 100%;
        padding: 8px 16px;

        .headerContent {
            display: flex;
            flex-direction: row;
            align-items: center;

            &.logo {

                img {
                    width: auto;
                    height: 32px;
                }

            }

            &.blank {
                flex-grow: 1;
            }

            &.options {
                gap: 0 8px;
            }

            &.menu, &.options, &.user {

                .headerOption {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 0 12px;
                    padding: 8px;
                    border-radius: 24px;

                    cursor: pointer;
                    transition: var(--transition-theme);

                    &:hover {
                        background-color: var(--color-action-hover);

                        svg path {
                            fill: var(--color-text-p) !important;
                        }

                        .headerOptionLabel {
                            color: var(--color-text-p) !important;
                        }

                    }

                    svg path {
                        fill: var(--color-text-s) !important;
                    }

                    .headerOptionLabel {
                        color: var(--color-text-s);
                        font-size: 18px;
                        font-weight: bold;

                        transition: var(--transition-theme);
                    }

                }

            }

        }

    }

}